/* INI untuk HOME */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* padding-top: 56px;*/
}
.navbarcont {
  /* background-color: rgba(255, 0, 0, 0.5); */
  width: 1200px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar {
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(20px);
}
.carousel {
  margin-top: 56px;
}
.icon-opacity {
  opacity: 0.9;
  width: 20px;
  height: 20px;
}
.nav-icon,
.nav-icon0 {
  padding-left: 10px;
}
.nav-icon3 {
  padding-left: 12px;
}
.navbar-brand {
  z-index: 2;
  opacity: 0.9;
}
.navbar-brand:hover {
  opacity: 1;
}
.nav-link {
  z-index: 2;
  font-size: 11px;
  opacity: 0.8;
  color: white;
  font-weight: 400;
}
.nav-link:hover,
.nav-item:hover {
  opacity: 1 !important;
  color: white !important;
}
.gambar-carousel {
  height: 550px;
}
#carouselExample {
  width: 100%;
  height: 650px;
  margin: auto;
  margin-top: 44px;
}
.asusimg {
  margin-top: 50px !important;
  width: 300px;
}
.asuscont {
  margin: 0;
  padding: 0;
}
.asusbanner {
  margin: auto;
  width: 100% !important;
  overflow-x: hidden;
}
.asusslogan {
  opacity: 0.6;
  font-weight: 600;
  margin-top: -50px !important;
}
#cardGrid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100vw;
}
.card {
  background-color: pink;
  margin-top: 20px;
  height: 37vw;
}
.stuff {
  padding: 20px;
}
.nav-item {
  position: relative;
  z-index: 2;
}
.full-width-dropdown {
  padding-top: 42px;
  padding-bottom: 50px;
  padding-left: 50px;
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #00000094;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  z-index: 1;
}

.nav-item:hover .full-width-dropdown,
.full-width-dropdown:hover {
  display: block;
}

.full-width-dropdown.animating {
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ensure the submenu takes full width */
.full-width-dropdown a {
  width: 100%;
  display: block;
  padding: 10px;
  color: #000; /* Set your desired text color */
  text-decoration: none;
}
.dropdown-item {
  color: white !important;
}
/* video */
.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Laptop */
.banner {
  width: 100%;
  height: auto;
  display: block;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
/* footer */
.main-footer {
  width: 100vw;
  background-color: #00000083;
  color: #fff;
  padding: 30px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-logo img {
  max-width: 150px;
}
.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}
.footer-links a,
.footer-social a {
  text-decoration: none;
  color: #fff;
}
.footer-links h4,
.footer-social h4 {
  color: #ffffff6e;
  font-size: 20px;
}
.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #9e9e9e;
}

.jk {
  font-size: 8.727px;
}
.search-section {
  width: 100vw;
  margin-top: 150px;
  background-color: #00000038;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -36px;
}
.search-section h2 {
  font-size: 36px !important;
}
.search-section p {
  font-size: 20px !important;
  opacity: 0.7;
  margin-bottom: 20px;
}
.search-input {
  font-size: 16px;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.search-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.search-button:hover {
  background-color: #0056b3;
}